footer.page
  .row
    .twelve.columns
      textile:
        Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>.<br>
        This site and all documentation licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution-ShareAlike</a>.

        &copy; 2012 "Flavio Silva":http://flsilva.com

